<div class="top-nav">
  <nav id="top-nav-bar" class="container">
    <ul>
      <li>
        <a hx-boost="true" href="index.html">
          <h3 style="margin-bottom: 0">AttilaART</h3>
        </a>
      </li>
    </ul>
    <ul id="options">
      <li>
        <details class="dropdown">
          <summary>Français</summary>
          <ul>
            <li><a href="/de/">🇩🇪 Deutsch</a></li>
            <li><a href="/en/">🇬🇧 English</a></li>
            <li><a href="/fr/">🇫🇷 Français</a></li>
          </ul>
        </details>
      </li>
      <li><a hx-boost="true" href="about.html">A propos</a></li>
      <li id="nav-contact">
        <a hx-boost="true" href="contact.html"><button type="">Contact</button></a>
      </li>
    </ul>
    <ul id="fullscreen-nav-button">
      <li>
        <button style="font-size: 1.5;" type="" class="outline contrast" onclick="handleMenuButton()">
          &#9776;
        </button>
      </li>
    </ul>
  </nav>
  <div style=" position: relative">
    <div id="fullscreen-nav" class="fullscreen-nav">
      <div id="options-fullscreen" class="grid">
        <a hx-boost="true" href="contact.html"><button type="">Contact</button></a>
        <a hx-boost="true" href="about.html">
          <button class="secondary">A propos</button></a>
        <details class="dropdown">
          <summary>Français</summary>
          <ul>
            <li><a href="/de/">🇩🇪 Deutsch</a></li>
            <li><a href="/en/">🇬🇧 English</a></li>
            <li><a href="/fr/">🇫🇷 Français</a></li>
          </ul>
        </details>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="/assets/css/nav.css" />
  <script src="/js/nav_scale.js"></script>
</div>
