<section>
  <link rel="stylesheet" href="/assets/css/portfolio.css" />
  <link rel="stylesheet" href="/assets/css/carousel.css" />
  <script>
    import("/js/carousel.js").then((module) => {
      module.Carousel("portfolio-carousel")
    }) 
  </script>
  <div id="portfolio-carousel" class="carousel-container">
    <div class="carousel">
      <article class="grow-on-hover desaturated carousel-item">
        <article class="project-img shiny">
          <img class="project-img" src="/assets/images/portfolio/ngemba-tilt.webp" alt="">
        </article>
        <h3>Ngemba.biz page d'acceuil
          <article class="tag" style="background-color: var(--html-color);">HTML &amp; CSS</article>
          <article class="tag" style="background-color: var(--odoo-color);">Odoo</article>
        </h3>
        <p>Site web pour de vendeur de ERP.</p>
      </article>

      <article class="grow-on-hover desaturated carousel-item">
        <a href="https://web-utils-staging.onrender.com">
          <article class="project-img shiny">
            <img class="project-img" src="/assets/images/portfolio/ticket-checker-cover-tilt.webp" alt="">
          </article>
        </a>
        <h3>Ticket Checker
          <article class="tag" style="background-color: var(--go-color);">Go</article>
          <article class="tag" style="background-color: var(--htmx-color);">HTMX</article>
          <article class="tag" style="background-color: var(--html-color);">HTML &amp; CSS</article>
          <article class="tag-dark" style="background-color: var(--javascript-color);">Javascript</article>
        </h3>
        <p>Outil de validation de ticket et de présence</p>
      </article>

      <article class="grow-on-hover desaturated carousel-item">
        <article class="project-img shiny">
          <img class="project-img" src="/assets/images/portfolio/wisim-tilt.webp" alt="">
        </article>
        <h3>Wisim
          <article class="tag" style="background-color: var(--go-color);">Go</article>
          <article class="tag" style="background-color: var(--godot-color);">Godot</article>
        </h3>
        <p>Jeu compétitif de gestion d'entreprise</p>
      </article>

      <article class="grow-on-hover desaturated carousel-item">
        <article class="project-img shiny">
          <img class="project-img" src="/assets/images/portfolio/question-mark.svg" alt="">
        </article>
        <h3>Votre projet
        </h3>
        <p>Votre société pourrait être la prochaine !</p>
        <center>
          <a href="contact.html">
            <button type="">
              Contactez nous
            </button>
          </a>
        </center>
      </article>
    </div>
    <div class="carousel-control"></div>
  </div>
</section>
