/* Note, clash-grotesk.css must be loaded before this file */

#nav {
  height: 100px;
}

h1 {
  font-family: "ClashGrotesk-Bold";
}

h2,
h3 {
  font-family: "ClashGrotesk-Semibold";
}

body {
  /*--pico-border-radius: 0.5em;*/
  --go-color: #00acd7;
  --htmx-color: #4065c5;
  --html-color: #e54d24;
  --javascript-color: #f7df1e;
  --godot-color: #478cbf;
  --odoo-color: #a2488a;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}


#see-more-arrow,
#back-to-top-arrow {
  width: 5em;
  background: var(--pico-card-background-color);
  border-radius: 100px;
  border-width: 0;
  transition: 0.5s;
}

#back-to-top-arrow:has(img) img {
  transform: rotate(180deg);
}

@media (prefers-color-scheme: dark) {

  #back-to-top-arrow:has(img) img,
  #see-more-arrow:has(img) img {
    filter: invert()
  }
}

#see-more-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 5em;
  background: var(--pico-card-background-color);
  border-radius: 100px;
  border-width: 0;
  transition: 0.5s;
}

#back-to-top-arrow {
  position: sticky;
  top: 80vh;
  left: calc(100% - 6em);
  z-index: 1;
  background: transparent;
  border: 1px solid var(--pico-card-background-color);

  @media (max-width: 767px) {
    display: none;
  }

  backdrop-filter: blur(100px) brightness(140%);

  @media (prefers-color-scheme: dark) {
    backdrop-filter: blur(100px) brightness(40%);
  }
}

#see-more-arrow:hover {
  filter: invert();
  transform: translate(-50%, 50%) scale(1.1);
}

#back-to-top-arrow:hover {
  filter: invert();
  transform: scale(1.1);
}

img,
picture {
  border-radius: var(--pico-border-radius);
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0%;
    transform: translateY(var(--pico-spacing));
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.animate {
  opacity: 0%;
}

.animate.show {
  opacity: 0%;
  animation: fade-in-from-bottom 0.25s ease-in-out 0.25s forwards;
}

@media (prefers-reduced-motion: reduce) {
  .animate {
    opacity: 100% !important;
  }

  .animate.show {
    opacity: 100% !important;
    animation: unset !important;
  }
}

.no-bullet>li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer.footer {
  padding: calc(var(--pico-spacing) * 2) !important;
  backdrop-filter: brightness(90%);
  margin-bottom: 0;
}

#about-me {
  max-width: 1000px !important;
}
