<div class="top-nav">
  <nav class="container">
    <ul>
      <li>
        <a hx-boost="true" href="index.html">
          <h3 style="margin-bottom: 0;">AttilaART</h3>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <details class="dropdown">
          <summary>Deutsch</summary>
          <ul>
            <li><a href="/de/">Deutsch</a></li>
            <li><a href="/en/">English</a></li>
          </ul>
        </details>
      </li>
      <li><a hx-boost="true" href="index.html">Hauptseite</a></li>
      <li><a hx-boost="true" href="about.html">Über Mich</a></li>
      <li><a hx-boost="true" href="contact.html"><button type="">Kontakt Aufnehmen</button></a></li>
    </ul>
  </nav>
  <style>
    .top-nav {
      position: sticky;
      background-color: var(--pico-background-color);
      top: 0;
      z-index: 2;
    }
  </style>
</div>
