<footer class="container-fluid grid footer">
  <ul class="no-bullet">
    <li>
      <h3>Navigation</h3>
    </li>
    <li> <a href="index.html">Home</a></li>
    <li> <a href="about.html">About</a></li>
    <li> <a href="contact.html">Contact</a></li>
  </ul>
  <ul class="no-bullet">
    <li>
      <h3>Contact</h3>
    </li>
    <li>Email: <a href="mailto:attila@attilaart.ch">attila@attilaart.ch</a></li>
    <li>Github: <a href="https://github.com/AttilaART">AttilaART</a></li>
  </ul>
  <ul class="no-bullet">
    <li>
      <h3>Misc.</h3>
    </li>
    <li>Copyright &copy; Attila Pinter</li>
    <li>Credit for images: Unsplash</li>
  </ul>
</footer
